<%= render("shared/errors", obj: @jewelry) %>

<div class="row">
    <div class="col-md-6 col-md-offset-3 center">
        <p class="lead">------ Je t'aime mon ange ! ------</p>
    </div>
    <div class="well col-md-8 col-md-offset-2">
        <%= form_for(@jewelry, html: {multipart: true}) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        
        <%= f.label :inspiration %>
        <%= f.text_field :summary %>

        <%= f.label :collection %>
        <%= f.text_field :collection %>
        
        <%= f.label :material %>
        <%= f.text_area :description, rows: 10 %>
        
        <div class="picture">
            <div><%= f.label :image_principale %></div>
            <% if @jewelry.image.present? %>
                <%= image_tag(@jewelry.image.url(:thumb), class: "form_jewelry_pic") %>
            <% end %>
            <div><%= f.file_field :image, accept: "image/jpeg, image/gif, image/png", class: "custom-file-input" %></div>
        </div>

        <%= f.label :position %>
        <%= f.select :position, 1..@jewerly_count %>

        <div class="picture">
           <div><%= f.label :image_Close_Up %></div>
            <% if @jewelry.image_modal.present? %>
                <%= image_tag(@jewelry.image_modal, class: "form_jewelry_pic") %>
            <% end %>
            <div><%= f.file_field :image_modal, accept: "image/jpeg, image/gif, image/png", class: "custom-file-input" %></div>
        </div>
        
        <%= f.submit(@jewelry.new_record? ? "Add Jewelry" : "Edit Jewelry", class: "btn btn-success") %>
        <% end %>
    </div>
</div>
<div class="marginTop"></div>