<div class="container">
	<%= render("shared/logo", title: "About Me") %>
	<div class="row">
		<div class="col-md-6 marginTopMin">
			<p> 
				As far as I can remember, I have always loved creating and working with my own hands. I could stayed confined in my bedroom for days to finish any type of artistic projects. 
				<br>
				I took multiple drawing and creation design classes as I grew up, each one of them were enriching and fulfilling . They made me realize that this is what I wanted to do, this is what I wanted to be. 
				<br>
				<br>
				After four years studying in France I obtained a bachelor degree in Jewelry Design. At "La SEPR Lyon", where I’ve learned the history of jewelry and the transformation of the techniques through ages as well as studying and using them for my own purpose. 
				<br>
				What I love the most about Jewelry is finding the inspiration in a lots of very different and unusual domain, make it my own then retransform, mix ideas and theme before the realization of the piece itself.
				<br>
				For about three years I have been experiencing, discovering, self teaching and working in various field, trying to express my own personality through jewelry creation.
				<br>
				<br>
				Each piece of jewelry were design and hand made in New York by myself.
				<br>
				And I finally present to you a part of my work.
				<br>
				<br>
			</p>
		</div>
		<div class="col-md-6 center">
			<%= image_tag("camille.jpg", alt: "Camille Skubich", class: "camille_pic") %>
		</div>
	</div>
	<hr />
</div>
<div class="row center">
	<h1><span class="bullet">.</span>Video Shoot<span class="bullet">.</span></h1>
</div>
<div class="row center marginTop grey color_div">
	<div class="col-md-6">
		<%= link_to(image_tag("vara.png", alt:"Vara Reese", class: "vara_logo about_logo"), "http://www.varareese.com", target: "_blank") %>
	</div>
	<div class="col-md-6">
		<p class="partner_text">Amazing collaboration with Vara who was the camera operator and editor of the video, as well as the photographe of the jewelry.</p>
	</div>
</div>
<div class="row center brown color_div">
	<div class="col-md-6">
		<p class="partner_text">Gorgeous place surrounded by flowers, treasure in every kind and very nice peoples. Part of the video was shoot there.</p>
	</div>
	<div class="col-md-6">
		<%= link_to(image_tag("floresta.jpg", alt:"flo rE sta", class: "floresta_logo about_logo"), "http://www.florestanyc.com", target: "_blank") %>
	</div>
</div>
<div class="row center color_div">
	<div class="col-md-6">
		<%= link_to(image_tag("rebeccapaige.jpg", alt:"Rebecca Paige", class: "rebecca_logo about_logo"), "http://www.rebeccapaigemua.com", target: "_blank") %>
	</div>
	<div class="col-md-6">
		<p class="partner_text">Rebecca is a professional and very talented artist, who took care of all the make up in the video.</p>
	</div>
</div>
<div class="row center dark_grey color_div">
	<div class="col-md-6">
		<p class="partner_text">Renan was the principal model of the video, she is also a gifted actress and a Renaissance woman.</p>
	</div>
	<div class="col-md-6">
		<%= link_to(image_tag("renankanbay.png", alt:"Renan Kanbay", class: "renan_logo about_logo"), "http://renankanbay.wix.com/info1#!media", target: "_blank") %>
	</div>
</div>
<div class="marginTop"></div>
